<h1>Listing Shorts</h1>

<table>
  <thead>
    <tr>
      <th>Hash</th>
      <th>Url</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for short <- @shorts do %>
    <tr>
      <td><%= short.hash_id %></td>
      <td><%= short.url %></td>

      <td>
        <span><%= link "Delete", to: Routes.short_path(@conn, :delete, short.hash_id), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
