<h1>Your url is shortened!</h1>

<section class="row">

  <div class="column">
    <h2>Your URL was:</h2>
    <p><%= link_to @short.url %></p>
  </div>

  <div class="column">
    <h2>Your new URL is:</h2>
    <p><%= link_to_short(@conn, @short) %></p>
  </div>

</section>

<span><%= link "Let's shorten another!", to: Routes.page_path(@conn, :index) %></span>
